header {
  background-color: #ffcccc;
  width: 1000px;
  height: 100px;
}

#main {
  background-color: #ccffcc;
  width: 700px;
  height: 600px;
  float: left;
}

#menu {
  background-color: #ccccff;
  width: 300px;
  height: 600px;
  float: right;
}

footer {
  background-color: #ffccff;
  width: 1000px;
  height: 100px;
  clear: both;
}